doctype html
html 
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Learning Pug 
  body 
    include header.pug
    h1 Learning Pug
    p#p1_id.p2_class.p2.class Single line
    p
      | Multiple
      | lines 
    input(type='text', name='name' size='10' placeholder='Enter your name')
